<!DOCTYPE html>
<html>
<!-- Head -->
<head>
	<title>Details · Filmdia</title>
	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Premier Realty a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->
	<!-- Custom-Theme-Files -->
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
	<!-- //Custom-Theme-Files -->
	<!-- Web-Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" 	type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" 				type="text/css">
	<!-- //Web-Fonts -->
	<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="../js/lib/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
	
	<!-- Own css and js-->
	<link rel="stylesheet" href="../css/details.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/Detail_Tab.css" type="text/css" media="all">
	<script type="text/javascript" src="../js/Detail_Tab.js"></script>
	<!-- <script type="text/javascript" src="../js/jquery.min.js"></script> -->

	<!-- Star css and js -->
	<!-- <script type="text/javascript" src="../js/jquery.js"></script> -->
	<!-- script type="text/javascript" src="jquery.rater.js"></script -->
<!-- 	<script type="text/javascript" src="../js/jquery.rater.packed.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/rater.css" media="all" />  -->

	<!--Pagination css-->
	<link rel="stylesheet" href="../css/pagi3.css" type="text/css" media="all">
	<!-- Button css -->
	<link rel="stylesheet" href="../css/button.css" type="text/css" media="all">
</head>
<!-- //Head -->
<!-- Body -->
<body style="background: #083054">
	<!-- Header -->
	<div class="header">
		<!-- Top-Bar -->
				<div class="top-bar w3-1">
				<div class="container">
					<div class="header-nav w3-agileits-1">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1><a class="navbar-brand" href="index.html"><img src="../images/logo2.png"></a></h1>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav ">
									<li><a href="../index.jsp">Home</a></li>
									<li><a href="library.jsp">Library</a></li>
									<li><a class=" active" href="details.jsp">Statistic</a></li>
									<li><a href="creator.html">Creator</a></li>
								</ul>
								<div class="search-box">
									<div id="sb-search" class="sb-search">
										<form>
											<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
											<input class="sb-search-submit" type="submit" value="">
											<span class="sb-icon-search"> </span>
										</form>
									</div>
								</div>
								<ul class="user-manage">
									<img id="userCenter" src="../images/Center.png">
									<!-- <a href="" class="sign-in-out" style="color: #fff">Sign In/Up</a> -->
									<!--<span style="color: #fff"> | </span>-->
									<!--<a href="" class="sign-up" style="color: #fff">Sign Up</a>-->
								</ul>
							</div><!-- /navbar-collapse -->
							<!-- search-scripts -->
							<script src="../js/classie.js"></script>
							<script src="../js/uisearch.js"></script>
								<script>
									new UISearch( document.getElementById( 'sb-search' ) );
								</script>
							<!-- //search-scripts -->
						</nav>
					</div>
				</div>
			</div>
		
		<!-- //Slider -->
	</div>
	<!-- //Header -->
	<div class="banner">
				<div class="title-info">
					<div class="film_poster"><a href=""><img src="../images/posters/B005LAIHPE.jpg"></a></div>
					<div class="fast_info">
						<h2 class="film_title">Battleship<span class="Year">(2012)</span></h2>

						<span class="film_summary">A fleet of ships is forced to do battle with an armada of unknown origins in order to discover and thwart their destructive goals. </span>
						<br>
						<span class="Directors"><label>Directors:&nbsp</label>Peter Berg</span>
						<span class="Actors"><label>Actors:&nbsp</label>Alexander Skarsgård, Brooklyn Decker, Liam Neeson</span>
						<span class="Tags"><label>Genre:&nbsp</label>Action, Adventure, Sci-Fi</span>
					</div>
					<div class="add_fav">
						<div class="fav_content">
							<label class="Score">6.8<span style="color: #fff; font-size: 17px">/10</span></label>
							<label class="rating_label"style="color: #fff">Your rating:</label>
							<!-- <div id="demo6" class="demo"></div>
							<script type="text/javascript">
								$('#demo6').rater('../js/ratingsdemo.php', {maxvalue:10, style: 'basic', curvalue:0});
							</script> -->
							<button class="add_button btn btn-primary btn-sm btn-round">Add to Favorite</button>
						</div>
						
					</div>
				</div>
	</div>

<div class="tab_group" style="background: transparent;">
    <div class="title cf" style="background: rgba(0,0,0,.1);">
      <ul class="title-list fr cf ">
        <li class="on">Technical Specs</li>
        <li>Reviews</li>
        <li>Graphs</li>
        <p></p>
      </ul>
    </div>
    <div class="product-wrap" style="background: rgba(255,255,255,1);">
      <!--Technical Specs-->
      <div class="product showing">
        <ul class="cf">
          <li class="ml0"> 
          	<!-- base Info -->
          	<div class="info_line1">
          		<span class="country_label">Country: </span><label class="Country">USA</label>
          		<span class="language_label">Language: </span><label class="Language">English</label>
          		<span class="runtime_label">Runtime: </span><label class="Runtime">60 min</label>
          	</div>
          	<!-- base Info -->
          	<!-- Cast -->
          	<div class="Cast left">
          		<h3>Cast</h3>
          		<table class="table table-hover" style="border: 2px solid #e7e7e7; margin-top: 20px; font-size: 13px;">
                <colgroup>
                    <col class="Pic">
                    <col class="Name">
                    <col class="Role">                
                </colgroup>
                <thead>
                <tr>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>Role</th>                    
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td><a href="">Taylor Kitsch</a></td>
                    <td>Lieutenant Alex Hopper</td>                   
                </tr>
                <tr>
                    <td>2.</td>
                    <td><a href="">Alexander Skarsgård</a></td>
                    <td>Commander Stone Hopper</td>                    
                </tr>
                <tr>
                    <td>3.</td>
                    <td><a href="">Rihanna</a></td>
                    <td>Petty Officer Cora 'Weps' Raikes</td>                    
                </tr>
                <tr>
                    <td>4.</td>
                    <td><a href="">Brooklyn Decker</a></td>
                    <td>Sam</td>                    
                </tr>
                <tr>
                    <td>5.</td>
                    <td><a href="">Tadanobu Asano</a></td>
                    <td>Captain Yugi Nagata</td>                    
                </tr>
                <tr>
                    <td>6.</td>
                    <td><a href="">Hamish Linklater</a></td>
                    <td>Cal Zapata</td>                    
                </tr>
                </tbody>
            </table>
          	</div>
			<!-- Cast end-->
			
			<!-- Details -->
			<div class="Details right">
				<h3>Details</h3>
				<div class="detail_form">
					<span>Language: <label class="Language">English</label></span>
					<span>Release Date: <label class="OnTime">18 April 2012 (China)</label></span>
					<span>Watch URL: <label class="OnTime"><a href="http://www.imdb.com/video/imdb/vi4081754393?playlistId=tt1440129&ref_=tt_ov_vi">http://www.imdb.com/video/imdb/vi4081754393?playlistId=tt1440129&ref_=tt_ov_vi</a></label></span>
				</div>
			</div>
			<!-- Details end-->
			
			<!-- Storyline -->
			<div class="Storyline left">
				<h3>Storyline</h3>
				<div class="storyline_form">
					<div class="stortline_part">
						<p>A naval war ship encounters an alien armada and faces the biggest threat mankind has ever faced. If they lose, the world could face a major extinction event and an alien invasion. Will humans win this alien war, what are the aliens doing here, and what do they want? Based on the Hasbro naval war game. </p>
					</div>
				 	<div class="tagline_part">
				 		<label>Tagline: </label> <span class="Tagline">The battle for Earth begins at sea.</span>
				 	</div>
					<div class="keyword_part">
						<label>Plot Keywords: </label> <span class="ScripteKeywords"> oahu hawaii | hawaii | alien | naval | ship </span>
					</div>
					
				</div>
			</div>		
          </li>
        </ul>
      </div>

      <!--Reviews-->
      <div class="product">
        <ul class="cf">
          <li class="ml0"> 
          	<div class="reviews">
          		<div class="review_part">
          		<div class="review_title">
	          		<span class="review_userName">markdroulston </span>
					<!-- <span class="review_helpfulness">466/669</span> -->
					<span class="review_time">21 May 2012</span>
				</div>
          		
				<hr>
				<span class="review_summary">Definition of a guilty pleasure</span>
				<p class="review_text">Heaven help me! I liked this movie, now I am going to be one of the few who did. As you can see from the other reviews a lot of people didn't like this movie, so why did I?

1. I came in with low expectations - I was expecting something horrible, boring, long and pointless, but despite myself I liked it, I laughed at the jokes, I connected with the actors (yes, Rihanna too), I was excited by the action and while clichés the plot held my interest

2. The actors did a good job with what they were given - Taylor Kitsch did a good job, Rihanna wasn't that bad, I dare say good, in her role. She was there, she didn't try to chew the scenery, she did her job as an actor/secondary character and it didn't bother me. I give her kudos

3. lost in translation? - you try to make a game into a movie and you want to put parts of them game in it? Not easy, a little cheesy? Of course, but fun? Yes, fun, enjoyable, and in the end it was a part of the story that wasn't as forced as it could have been.

So in conclusion, "Battleship" is a fun, corny, typical summer movie that I like but as you see a lot of people didn't. I think it is a guilty pleasure, something to be enjoyed by the few but annoyed by the rest. In the end I can only suggest this - go in with low expectations, expect a little over the top patriotism like in "Act of Valor" ( but not so heavy), and don't think about it. The movie is not without its flaws or questionable logic, but as it was said so well in another movie - "I suggest you don't think about it and just enjoy the ride" </p>
          	</div>

          	<div class="review_part">
          		<div class="review_title">
	          		<span class="review_userName">markdroulston </span>
					<!-- <span class="review_helpfulness">466/669</span> -->
					<span class="review_time">21 May 2012</span>
				</div>
          		
				<hr>
				<span class="review_summary">Definition of a guilty pleasure</span>
				<p class="review_text">Heaven help me! I liked this movie, now I am going to be one of the few who did. As you can see from the other reviews a lot of people didn't like this movie, so why did I?

1. I came in with low expectations - I was expecting something horrible, boring, long and pointless, but despite myself I liked it, I laughed at the jokes, I connected with the actors (yes, Rihanna too), I was excited by the action and while clichés the plot held my interest

2. The actors did a good job with what they were given - Taylor Kitsch did a good job, Rihanna wasn't that bad, I dare say good, in her role. She was there, she didn't try to chew the scenery, she did her job as an actor/secondary character and it didn't bother me. I give her kudos

3. lost in translation? - you try to make a game into a movie and you want to put parts of them game in it? Not easy, a little cheesy? Of course, but fun? Yes, fun, enjoyable, and in the end it was a part of the story that wasn't as forced as it could have been.

So in conclusion, "Battleship" is a fun, corny, typical summer movie that I like but as you see a lot of people didn't. I think it is a guilty pleasure, something to be enjoyed by the few but annoyed by the rest. In the end I can only suggest this - go in with low expectations, expect a little over the top patriotism like in "Act of Valor" ( but not so heavy), and don't think about it. The movie is not without its flaws or questionable logic, but as it was said so well in another movie - "I suggest you don't think about it and just enjoy the ride" </p>
          	</div>

          	<div class="review_part">
          		<div class="review_title">
	          		<span class="review_userName">markdroulston </span>
					<!-- <span class="review_helpfulness">466/669</span> -->
					<span class="review_time">21 May 2012</span>
				</div>
          		
				<hr>
				<span class="review_summary">Definition of a guilty pleasure</span>
				<p class="review_text">Heaven help me! I liked this movie, now I am going to be one of the few who did. As you can see from the other reviews a lot of people didn't like this movie, so why did I?

1. I came in with low expectations - I was expecting something horrible, boring, long and pointless, but despite myself I liked it, I laughed at the jokes, I connected with the actors (yes, Rihanna too), I was excited by the action and while clichés the plot held my interest

2. The actors did a good job with what they were given - Taylor Kitsch did a good job, Rihanna wasn't that bad, I dare say good, in her role. She was there, she didn't try to chew the scenery, she did her job as an actor/secondary character and it didn't bother me. I give her kudos

3. lost in translation? - you try to make a game into a movie and you want to put parts of them game in it? Not easy, a little cheesy? Of course, but fun? Yes, fun, enjoyable, and in the end it was a part of the story that wasn't as forced as it could have been.

So in conclusion, "Battleship" is a fun, corny, typical summer movie that I like but as you see a lot of people didn't. I think it is a guilty pleasure, something to be enjoyed by the few but annoyed by the rest. In the end I can only suggest this - go in with low expectations, expect a little over the top patriotism like in "Act of Valor" ( but not so heavy), and don't think about it. The movie is not without its flaws or questionable logic, but as it was said so well in another movie - "I suggest you don't think about it and just enjoy the ride" </p>
          	</div>

			
          	</div>
          </li>
        </ul>
      </div>

      <!--Graphs-->
      <div class="product">
        <ul class="cf">
          <li class="ml0"> 
          </li>
          <li> 
          </li>
          <li> 
          </li>
          <li> 
          </li>
        </ul>
      </div>
    </div>
  </div>
	


<!-- footer -->
<div class="footer w3-agile-1">
	<div class="container">
		
		<ul class="fb_icons2 agile-1">
			<li><a class="fb" href="#"></a></li>
			<li><a class="twit" href="#"></a></li>
			<li><a class="goog" href="#"></a></li>
			<li><a class="pin" href="#"></a></li>
			<li><a class="drib" href="#"></a></li>
		</ul>
	</div>
	<p class="copyright">© 2017 Premier Realty. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
</div>
<!-- footer -->
</body>
<!-- //Body -->
</html>