<!DOCTYPE html>
<html>
<!-- Head -->
<head>
    <title>Library · Filmdia</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords"
          content="Premier Realty a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Theme-Files -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/swipebox.css">
    <link rel="stylesheet" href="../css/library.css" type="text/css">
    <!-- //Custom-Theme-Files -->
    <!-- Web-Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
    <!-- //Web-Fonts -->
    <!-- Default-JavaScript-File -->
    <script type="text/javascript" src="../js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>

    <!-- The pagination bar -->
    <link rel="stylesheet" type="text/css" href="../css/pagi2.css" media="screen"/>

</head>
<!-- //Head -->
<!-- Body -->
<body>
<!--<div style="width:100%; height:100%;">-->
<!--<img src="../images/librartFilterBg.jpg" alt="" style="width: 100%; height: 100%; position: fixed; opacity: 1">-->
<!--</div>-->

<!-- Header -->
<div class="header w3layouts-1">
    <!-- Top-Bar -->
    <div class="top-bar w3-1">
        <div class="container">
            <div class="header-nav w3-agileits-1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><img src="../images/logo2.png"></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav ">
                            <li><a href="index.html">Home</a></li>
                            <li><a class=" active" href="library.html">Library</a></li>
                            <li><a href="statistic.html">Statistic</a></li>
                            <li><a href="creator.html">Creator</a></li>
                        </ul>
                        <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                           name="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>
                        <ul class="user-manage">
                            <img id="userCenter" src="../images/Center.png">

                        </ul>
                    </div><!-- /navbar-collapse -->
                    <!-- search-scripts -->
                    <script src="../js/classie.js"></script>
                    <script src="../js/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //search-scripts -->
                </nav>
            </div>
        </div>
    </div>
    <!-- //Top-Bar -->

</div>
<!-- //Header -->
<div class="gallery wthree-3">
    <!-- The filter -->
    <div id="filterPane">
        <h1 align="center" id="libraryHead">Pick What You Like</h1>

        <div title="Genre" id="genreBox" class="filterBox">
            <table>
                <tr>
                    <td><span class="genreLabel">Sci-Fi</span></td>
                    <td><span class="genreLabel">Crime</span></td>
                    <td><span class="genreLabel">Romance</span></td>
                    <td><span class="genreLabel">Animation</span></td>
                    <td><span class="genreLabel">Comedy</span></td>
                    <td><span class="genreLabel">War</span></td>
                    <td><span class="genreLabel">Horror</span></td>
                    <td><span class="genreLabel">Thriller</span></td>
                    <td><span class="genreLabel">Adventure</span></td>
                    <td><span class="genreLabel">Sport</span></td>
                </tr>
                <tr>
                    <td><span class="genreLabel">Mystery</span></td>
                    <td><span class="genreLabel">Action</span></td>
                    <td><span class="genreLabel">Documentary</span></td>
                    <td><span class="genreLabel">Musical</span></td>
                    <td><span class="genreLabel">History</span></td>
                    <td><span class="genreLabel">Family</span></td>
                    <td><span class="genreLabel">Fantasy</span></td>
                    <td><span class="genreLabel">Biography</span></td>
                    <td><span class="genreLabel">Others</span></td>
                </tr>
                <tr>
                </tr>

            </table>
        </div>
        <div title="Year" id="yearBox" class="filterBox">
            <span class="yearLabel">2017</span>
            <span class="yearLabel">2016</span>
            <span class="yearLabel">2015</span>
            <span class="yearLabel">2014</span>
            <span class="yearLabel">2013</span>
            <span class="yearLabel">2012</span>
            <span class="yearLabel">2011</span>
            <span class="yearLabel">2010</span>
            <span class="yearLabel">2009</span>
            <span class="yearLabel">2008</span>
            <span class="yearLabel">2007</span>
            <span class="yearLabel">2006</span>
            <span class="yearLabel">2005</span>
            <span class="yearLabel">2004</span>
            <span class="yearLabel">2003</span>
            <span class="yearLabel">2002</span>
            <span class="yearLabel">2001</span>
            <span class="yearLabel">2000</span>
            <span class="yearLabel">2000-Before</span>
        </div>
        <div title="Country" id="countryBox" class="filterBox">
            <span class="countryLabel">USA</span>
            <span class="countryLabel">UK</span>
            <span class="countryLabel">Chinese</span>
            <span class="countryLabel">Japan</span>
            <span class="countryLabel">Korea</span>
            <span class="countryLabel">France</span>
            <span class="countryLabel">Canada</span>
            <span class="countryLabel">Australia</span>
            <span class="countryLabel">India</span>
            <span class="countryLabel">Others</span>
        </div>
        <div title="Sort" id="sortBox" class="filterBox">
            <span class="sortLabel">Descend-By-Score</span>
            <span class="sortLabel">Ascend-By-Score</span>
            <span class="sortLabel">Descend-By-ReviewNum</span>
            <span class="sortLabel">Ascend-By-ReviewNum</span>
        </div>
    </div>
    <!-- End of the filter -->

    <div class="container">
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i1.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005O5BA.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i2.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005OCTG.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i3.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005T30L.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i4.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005UMYY.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005UO5M.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005V9IJ.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00005YU1O.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00006AL1E.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B00006AVRK.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B0006FO5LO.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005BDZQKU.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005CA4SJW.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005FITIGO.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005GSVFDW.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005I64U34.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005IZLPMY.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005JSM5YW.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAIGSC.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAIGZU.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAIH9A.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAIHPE.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAIIS0.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAJ16I.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005LAJ22Q.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 gal-left gal_mar">
            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="../images/i5.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="../images/posters/B005Q1W10A.jpg" alt="image" class="img-responsive zoom-img">
                    </div>

                    <div class="info-box">
                        <div class="info-content">
                            <h4>Premier Realty</h4>
                            <span class="separator"></span>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="clearfix"></div>

        <!--The pagination bar-->
        <div style="position: absolute;width: 80%; padding-top: 20px">
            <div class="content">
                <div class="demo" style="background: rgba(247,247,247,.1); border-color: rgba(247,247,247,.3);">
                    <div id="demo4"></div>
                </div>
            </div>
            <script type="text/javascript" src="../js/lib/jquery.paginate.js"></script>
            <script type="text/javascript">
                $(function () {
                    $("#demo4").paginate({
                        count: 25,
                        start: 1,
                        display: 15,
                        border: false,
                        text_color: '#79B5E3',
                        background_color: 'none',
                        text_hover_color: '#2573AF',
                        background_hover_color: 'none',
                        images: false,
                        mouse: 'press'
                    });
                });
            </script>
        </div>
        <!--End of the pagination bar-->
    </div>
</div>
    <!--/ w3l-1 -->

    <!-- footer -->
    <div class="footer w3-agile-1" style="position: absolute; width:100%; margin-top: 120px">

        <p class="copyright">© 2017 Premier Realty. All Rights Reserved | Design by XYC, GZQ, XZH and LWY</a></p>
    </div>
    <!-- footer -->
    <!-- swipe box js -->
    <script src="../js/lib/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //swipe box js -->
</body>
<!-- //Body -->
</html>