<!DOCTYPE html>
<html>
<!-- Head -->
<head>
	<title>Statistic · Filmdia</title>
	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Premier Realty a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->
	<!-- Custom-Theme-Files -->
	<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
	<!-- //Custom-Theme-Files -->
	<!-- Web-Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" 	type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" 				type="text/css">
	<!-- //Web-Fonts -->
	<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	
</head>
<!-- //Head -->
<!-- Body -->
<body>
	<!-- Header -->
	<div class="header">
		<!-- Top-Bar -->
				<div class="top-bar w3-1">
				<div class="container">
					<div class="header-nav w3-agileits-1">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1><a class="navbar-brand" href="index.html"><img src="../images/logo2.png"></a></h1>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav ">
									<li><a href="../index.jsp">Home</a></li>
									<li><a href="library.jsp">Library</a></li>
									<li><a class=" active" href="statistic.jsp">Statistic</a></li>
									<li><a href="creator.html">Creator</a></li>
								</ul>
								<div class="search-box">
									<div id="sb-search" class="sb-search">
										<form>
											<input id="searchField" class="sb-search-input"
												   placeholder="Enter your search term..." type="search"
												   name="search" autocomplete="off" value=""/>
											<input type="text" name="notautosubmit" style="display:none"/>
											<input id="searchBtn" class="sb-search-submit" type="button" value=""/>
											<span class="sb-icon-search"> </span>
										</form>
									</div>
								</div>
								<div id="suggestionResults">
								</div>
								<script>
                                    var searchField = document.getElementById('searchField');
                                    var divSuggestionResults = document.getElementById('suggestionResults');
                                    searchField.onclick = getResults;
                                    searchField.onkeyup = getResults;
                                    document.body.onclick = function () {
                                        divSuggestionResults.style.display = 'none';
                                    };
                                    function getResults() {
                                        var searchMsg = searchField.value;
                                        var aFilm = null;
                                        var innerHtmlTemp = '';
                                        if (searchMsg !== '') {
                                            divSuggestionResults.style.display = 'block';
                                            $.ajax({
                                                type: 'post',
                                                url: '/film/getFilmsByName',
                                                contentType: 'application/json;charset=utf-8',
                                                data: searchMsg,
                                                success: function (data) {
                                                    $.each(data, function (i, item) {
                                                        if (i < 6) {
                                                            var url = '../views/details.jsp';
                                                            url = setQueryString(url, 'filmID', item.filmID);
                                                            url = setQueryString(url, 'imdb_filmID', item.imdb_filmID);
                                                            var tagLine = item.tagLine? item.tagLine : 'No tagline now...';
                                                            aFilm = '<a href=' + url + '><img src=' + item.posterURL +
                                                                '/><div class="suggestionResultsLabel"><span class="title">'
                                                                + item.name + '</span><div class="summary">' + tagLine +
                                                                '</div></div></a>';
                                                            innerHtmlTemp += aFilm;
                                                        }
                                                    });
                                                    divSuggestionResults.innerHTML = innerHtmlTemp;
                                                    var aArr = divSuggestionResults.getElementsByTagName('a');
                                                    for (var i = 0; i < aArr.length; i++) {
                                                        aArr[i].onmouseover = function () {
                                                            this.className = 'highlight';
                                                        };
                                                        aArr[i].onmouseout = function () {
                                                            this.className = '';
                                                        };
                                                        aArr[i].onclick = function () {
                                                            divSuggestionResults.style.display = 'none';
                                                        }
                                                    }
                                                }
                                            });

                                        }
                                        else {
                                            divSuggestionResults.style.display = 'none';
                                        }

                                    }
								</script>
								<div id="userBox" class="user-manage">
									<img id="userCenter" src="images/Center.png">
									<div id="userUnderBox">
										<div style="text-indent:0;text-align: center">Hello, <span>xxx</span>!</div>
										<ul>
											<li><img src="images/userCenter.png"/><a href="views/userCenter.jsp">User Center</a>
											</li>
											<li><img src="images/favorite.png"/><a href="">Favorites</a></li>
											<li><img src="images/setting.png"/><a href="">Settings</a></li>
											<li><img src="images/exit.png"/><a href="" onclick="signOut()">Sign Out</a></li>
										</ul>
									</div>
									<!--<a href="" class="sign-in-out" style="color: #fff">Sign In/Up</a>-->
									<!--<span style="color: #fff"> | </span>-->
									<!--<a href="" class="sign-up" style="color: #fff">Sign Up</a>-->
								</div>
							</div><!-- /navbar-collapse -->
							<!-- search-scripts -->
							<script src="../js/classie.js"></script>
							<script src="../js/uisearch.js"></script>
								<script>
									new UISearch( document.getElementById( 'sb-search' ) );
								</script>
							<!-- //search-scripts -->
						</nav>
					</div>
				</div>
			</div>
		<!-- //Top-Bar -->
		<div class="banner">
			<div class="bann-info">
			</div>
		</div>
		<!-- //Slider -->
	</div>
	<!-- //Header -->
<div class="about-bottom wthree-3">
		<div class="container">
		<h2 class="tittle">About</h2>
			<div class="agileinfo_about_bottom_grids">
				<div class="col-md-6 agileinfo_about_bottom_grid">
					<h5> consectetur adipiscing elit, sed do eiusmod tempor incididunt </h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
						culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-md-6 agileinfo_about_bottom_grid">
					<img src="../images/slide-5.jpg" alt=" " class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<!-- team -->
	<div class="team agileinfo-3">
		<div class="container">
			<h3 class="tittle">Meet Our Team</h3>
			<div class="w3l_team_grids">
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="../images/6.jpg" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="google_plus"></a></li>
									<li><a href="#" class="pinterest"></a></li>
									<li><a href="#" class="instagram"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Jass Thomas</h4>
					<p>Ipsum Dolor</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="../images/9.jpg" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="google_plus"></a></li>
									<li><a href="#" class="pinterest"></a></li>
									<li><a href="#" class="instagram"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Dino Mariya</h4>
					<p>Ipsum Dolor</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="../images/8.jpg" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="google_plus"></a></li>
									<li><a href="#" class="pinterest"></a></li>
									<li><a href="#" class="instagram"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>James Doe</h4>
					<p>Ipsum Dolor</p>
				</div>
				<div class="col-md-3 w3l_team_grid">
					<div class="view view-second">
						<img src="../images/10.jpg" alt=" " class="img-responsive" />
						<div class="mask"></div>
						<div class="content">
							<div class="w3l_social_icons w3l_social_icons1">
								<ul>
									<li><a href="#" class="facebook"></a></li>
									<li><a href="#" class="twitter"></a></li>
									<li><a href="#" class="google_plus"></a></li>
									<li><a href="#" class="pinterest"></a></li>
									<li><a href="#" class="instagram"></a></li>
								</ul>
							</div>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
						</div>
					</div>
					<h4>Michael Rita </h4>
					<p>Ipsum Dolor</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->

<!--/ w3l-1 -->
	<div class="footer-bottom agileits-w3layouts-1">
		<div class="container">
			<h3>Newsletter</h3>
			<p class="ttt">when an unknown printer took a galley of type and scrambled Lorem Ipsum passages, and more recently it to make a type specimen book.</p>
			<form action="#" method="post">
				<input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
				<input type="email" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	<!--loginBox-->
	<div id="shield"></div>
	<div id="loginBox">
		<input id="cancelBtn" type="button"/>
		<!--<input id="warningBtn" type="button" value="密码错误" />-->
		<img src="../images/user/logo.png" alt=""/>

		<div id="initArea">
			<input type="button" value="Sign In"/><br/><br/>
			<div>Or</div>
			<br/>
			<input type="button" value="Sign Up">
		</div>

		<form id="signInForm" action="" method="post">
			<input id="userText1" name="userName" type="text" value="Username">
			<div class="hint" id="userHint1">Enter Your Username</div>
			<input id="passwordText1" name="password" type="password" value="....">
			<div class="hint" id="passwordHint1">Enter Your Password</div>
			<input id="signInSubmit" type="button" value="Sign In">
			<div class="warning" id="signInWarning"></div>
			<div id="forget">Forgot your password?</div>
			<div class="tab" id="toSignUp">Sign Up</div>
		</form>

		<form id="signUpForm" action="" method="post">
			<input id="userText2" name="userName" type="text" value="Username">
			<div class="hint" id="userHint2">Enter Your Username</div>
			<input id="passwordText2" name="password" type="password" value="....">
			<div class="hint" id="passwordHint2">Enter Your Password</div>
			<input id="passwordText3" type="password" value="....">
			<div class="hint" id="passwordHint3">Ensure Your Password</div>
			<input id="signUpSubmit" type="button" value="Sign Up">
			<div class="warning" id="signUpWarning"></div>
			<div class="tab" id="toSignIn">Sign In</div>
		</form>
		<script src="js/mylib.js"></script>
		<script src="js/user.js"></script>
	</div>
<!-- footer -->
	<div class="footer w3-agile-1">
		<div class="container">

			<ul class="fb_icons2 agile-1">
				<li><a class="fb" href="#"></a></li>
				<li><a class="twit" href="#"></a></li>
				<li><a class="goog" href="#"></a></li>
				<li><a class="pin" href="#"></a></li>
				<li><a class="drib" href="#"></a></li>
			</ul>
		</div>
		<p class="copyright">© 2017 Filmdia. All Rights Reserved | Design by XYC, GZQ, XZH and LWY</p>
	</div>
<!-- footer -->


</body>
<!-- //Body -->
</html>