<!DOCTYPE html>
<html>
<!-- Head -->
<head>
    <title>User Center · Filmdia</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords"
          content="Premier Realty a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Theme-Files -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/swipebox.css">
    <!--<link rel="stylesheet" href="../css/library.css" type="text/css">-->
    <!-- //Custom-Theme-Files -->
    <!-- Web-Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
    <!-- //Web-Fonts -->
    <!-- Default-JavaScript-File -->
    <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/userCenter.css">
</head>
<!-- //Head -->

<div style="width:100%; height:100%; background-color: rgba(0,0,0,.9);">
    <img src="../images/userCenterBg.jpeg" alt="" style="background: center; position: fixed;">
</div>

<!-- Header -->
<div class="header w3layouts-1">
    <!-- Top-Bar -->
    <div class="top-bar w3-1">
        <div class="container">
            <div class="header-nav w3-agileits-1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="../index.jsp"><img src="../images/logo2.png"></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav ">
                            <li><a href="../index.jsp">Home</a></li>
                            <li><a href="library.jsp">Library</a></li>
                            <li><a href="statistic.html">Statistic</a></li>
                            <li><a href="creator.html">Creator</a></li>
                        </ul>
                        <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                           name="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>
                        <ul class="user-manage">
                            <img id="userCenter" src="../images/Center.png">

                        </ul>
                    </div><!-- /navbar-collapse -->
                    <!-- search-scripts -->
                    <script src="../js/classie.js"></script>
                    <script src="../js/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //search-scripts -->
                </nav>
            </div>
        </div>
    </div>
    <!-- //Top-Bar -->
</div>
<!--End Header-->
<!-- Body -->
<body>
<div class="container" style="height: 1000px">
    <!--Menu-->
    <div class="menu container">
        <div class="headImg"><img src="http://img.microbu.com/2017/0421/00814196419825_200x200crop.jpg"></div>
        <P class="userText">&nbsp;</P>
        <div class="userName">GritBoy</div>
        <P class="userText">&nbsp;</P>
        <div class="menuMain">
            <ul>
                <li class="active"><a href=""><i class="history"></i><span>Browsing History</span></a></li>
                <li><a href=""><i class="order"></i><span>My Favorites</span></a></li>
                <li><a href=""><i class="pay"></i><span>My Comments</span></a></li>
                <li><a href=""><i class="set"></i><span>User Settings</span></a></li>
            </ul>
        </div>
    </div>
    <!--End Menu-->
    <!--Content-->
    <div class="content container">

    </div>
    <!--End Content-->
</div>
</body>
<!--End Body-->
</html>
